{% extends "home/base.html" %}
{% block content %}
{% load static %}
<section id="content">

  <div class="content-wrap" style="padding-bottom:60px;">

    <div class="container clearfix">
      <div style="position: relative;">
        <div class="featured-deals>
        <div class="heading-block nobottomborder">
					<img src="{% static 'demos/real-estate/images/meihana.png' %}" alt="John Doe" style="padding-bottom: 90px;padding-top: -30px;  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;">
          <h3>What's Meihana?</h3>
          <p />
          <p>The Meihana model provides a basis for a more comprehensive assessment of clients/whanau and underpins appropriate treatment decisions. The aim is Is NOT to determine 'how Māori a client is' but to identify their beliefs, values and experiences within a Māori context; currently and in the past. The Meihana Model was developed for a Mental health situation but can be applied across the health arena.</p>

					<div id="whanau">
					<h3>Whanau</h3>

					<p>Definition: Client support networks
					Rationale: Whanau is seen as having a key role in the assessment, intervention and monitoring process of the client/whanau.
					Application:
					involve whanau with Assessment (Ax) and intervention.
					Allow space to for this.
					Whanau has opportunity to decide on the level of Maori cultural input to engage in.
					The ability to give feedback about cultural safety of the service.</p>
					<p>
					Definition: Support networks
					Rationale: To identify and access the key networks available to, and impacting on the client.
					Application:
					Using kin and peers as support (ie wider links)
					as a source of history on the client
					Utilised as key support people for management and monitoring.
					Clinician accountable to the client via whanau.>/p>
					</div>

					<h3>Tinana</h3>
					<p>
					Definition: Working to promote physical wellbeing of client/whanau.
					Rationale: To ensure that the service encompasses the importance of physical well-being and its relationship to overall psychological wellbeing.
					Application:
					Policies and procedures in place for referrals with clients consent.
					Results from assessments need to be clearly articulated to client/whanau about how these will inform the overall treatment plan. </p>
					<p>
					Definition: Physical body of the patient/and or whanau.
					Rationale: To identify the impact of physical health, functioning and wellbeing to the overall wellness of the patient and their whanau.
					Application:
					Need to explore overall health of client and whanau.
					Use range of sources to do this
					Comprehensive Ax and health history.
					Physical presentation which may influence how others interpret the client and their whanau.</p>
					<div id="patient">
					<h3>Hinengaro</h3>
					<p>
					Definition: To address clear potential biases within the current psychological practice.
					Rationale: To ensure cultural accountability of measures used to provide evidence that supports or challenges hypotheses/diagnosis around the presenting behaviours.
					Application:
					Ax tools and diagnosis processes within appropriate cultural context to ensure valid hypotheses and appropriate interventions.
					Services identify barriers or biases when working with Māori.
					Policies & resources to support clinicians in supervision so that analysis of Ax data is matched to Māori beliefs, values and experiences.</p>
</div>
					<p>
					Definition: Psychological wellbeing.
					Rationale: To identify the impact of intrapersonal variables with specific consideration of cultural context.
					Application:
					Client and whanau histories taken to identify what is outside client/whanau norms for behaviours/thoughts/feelings.
					Rapport, safe environment
					Cultural peer supervision for clinician to ensure appropriate tools used.</p>

					<h3>Wairua</h3>
					<p>
					Definition: Level of Attachment
					Rationale: To investigate factors that contribute to engagement and therefore the level of attachment the client/whanu feel to the service and services being provided.
					Application:
					Who and where the client feel connected to (reduces rate of non-attendance, and for client/whanau to feel safe).
					Look at what, within a service that may be a barrier/s to clients attachment to that service.
					Space for important rituals to client/whanau, eg karakia.</p>

					<p>
					Definition: Levels of attachment & engagement with a spiritual belief.
					Rationale: To explore the clients level of connectedness to people, things and/or places, as well as spiritual values and the impact on their behaviour.
					Application:
					Earthly/grounding attachment to another person/thing and/or place that is seen by the client as something that helps them belong, eg parent, toy, a place where they feel at peace (strength to build on or if absent connection or possible risk of self harm)
					Exploration of spiritual frameworks - eg traditional tribal/whanau beliefs, religious beliefs, personal spiritual journeys that support the client/whanau identity.</p>

					<h3>Taiao</h3>
					<p>
					Definition: The physical environment of the services.
					Rationale: Ensuring physical accessibility and acceptability of service.
					Application:
					Parking, distance from public transport, Māori mediums eg signage, posters, Māori staff or lack of which may not support the client/whanau in engaging with service.</p>

					<p>
					Definition: The external physical environment.
					Rationale: To explore the impact physical environment is having on the client/whanau.
					Application:
					Clinician to seek understanding of clients physical environments, experiences, values.
					Assess for risk factors, (eg exposure to violence, poor housing, drugs etc).
					Client/whanau satisfaction with health care facility and whether it is appropriate to them for Ax/intervention. Referral to other services may be needed.</p>

					<h3>Iwi Katoa</h3>
					<p>
					Definition: Societal structures that impact on the capacity of the organisation to work alongside client/whanau.
					Rationale: To identify current organisational strengths and weaknesses for working effectively with Māori client/whanau.
					Application:
					Clinician to be reflective about own social reality - may be quite different to clients/whanau - does this constrain service delivery?
					Services examine the impact of policies, processes, and culture has on retaining and providing appropriate services for Māori.</p>
					<p>
					Definition: Societal impact on the client/whanau.
					Rationale: To determine the extent to which current societal perceptions, beliefs and services impact on the wellbeing of the client/whanau.
					Application:
					Identification of societal beliefs, values and experiences and perceptions that are impacting on how the client/whanau are perceived, and how they relate to clinical presentation.
					Clinician needs to explore client/whanau experiences around society's beliefs/values to determine the impact of such things as low socioeconomic status, racism, prejudice and how they may act as a barrier to wellness.
					This allows for better Ax and intervention planning to better match the social reality of the client/whanau - their lived reality.</p>

				</div>
        </div>

    </section>
				{% endblock %}
