{% extends "home/base.html" %}
{% load static %}
{% block content %}
<section id="content">

  <div class="content-wrap" style="padding-bottom:0px;">

    <div class="container clearfix">
      <div style="position: relative;">
        <div class="featured-deals>
        <div class="heading-block nobottomborder">
          <h3>What's Meihana?</h3>
          <p />
          <p>The Meihana model provides a basis for a more comprehensive assessment of clients/whanau and underpins appropriate treatment decisions. The aim is Is NOT to determine 'how Māori a client is' but to identify their beliefs, values and experiences within a Māori context; currently and in the past. The Meihana Model was developed for a Mental health situation but can be applied across the health arena.</p>
          <h3>Whanau 1</h3>
<p />
<p>Definition: Client support networks
Rationale: Whanau is seen as having a key role in the assessment, intervention and monitoring process of the client/whanau.
Application:
involve whanau with Assessment (Ax) and intervention.
Allow space to for this.
Whanau has opportunity to decide on the level of Maori cultural input to engage in.
The ability to give feedback about cultural safety of the service.</p>

        </div>
        </div>
        <div class="real-estate owl-carousel image-carousel carousel-widget bottommargin-lg" data-margin="10" data-nav="true" data-loop="true" data-pagi="false" data-items-xs="1" data-items-sm="1" data-items-md="2" data-items-lg="3" data-items-xl="3">

          <div class="oc-item">
            <div class="real-estate-item">
              <div class="real-estate-item-image">

                <a href="#">
                  <img src="{% static 'demos/real-estate/images/items/1.jpg' %}" alt="Image 1">
                </a>
                <div class="real-estate-item-price">
                </div>
                <div class="real-estate-item-info clearfix">
                </div>
              </div>

              <div class="real-estate-item-desc">
                <h3><a href="#">Patient</a></h3>
                <span>What are the patient's needs?</span>

                <a href="#" class="real-estate-item-link"><i class="icon-info"></i></a>

                <div class="line" style="margin-top: 15px; margin-bottom: 15px;"></div>

              </div>
            </div>
          </div>
          <div class="oc-item">
            <div class="real-estate-item">
              <div class="real-estate-item-image">
                <a href="#">
                  <img src="{% static 'demos/real-estate/images/items/2.jpg' %}" alt="Image 2">
                </a>
                <div class="real-estate-item-price">
                </div>
                <div class="real-estate-item-info clearfix">
                </div>
              </div>

              <div class="real-estate-item-desc">
                <h3><a href="#">Whanau</a></h3>
                <span>How does whanau play a part?</span>

                <a href="#" class="real-estate-item-link"><i class="icon-info"></i></a>

                <div class="line" style="margin-top: 15px; margin-bottom: 15px;"></div>

              </div>
            </div>
          </div>
          <div class="oc-item">
            <div class="real-estate-item">
              <div class="real-estate-item-image">

                <a href="#">
                  <img src="{% static 'demos/real-estate/images/items/4.jpg' %}" alt="Image 3">
                </a>
                <div class="real-estate-item-price">
                </div>
                <div class="real-estate-item-info clearfix">
                </div>
              </div>

              <div class="real-estate-item-desc">
                <h3><a href="#">Hauora</a></h3>
                <span>How should healthcare assist?</span>

                <a href="#" class="real-estate-item-link"><i class="icon-info"></i></a>

                <div class="line" id="deals-test" style="margin-top: 15px; margin-bottom: 15px;"></div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </section>
{% endblock %}
